
@{
    ViewData["Title"] = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
     <div class="alert alert-success">
        <h class="display-4">Crear Usuario</h>
    </div>
</div>